.game__header {
  width: 30rem;
  height: 15rem;
  @include flex(row, space-between, flex-start);
  &--left-column {
    width: 50%;
  }

  &--right-column {
    flex-wrap: wrap;
    width: 17rem;
    @include flex(row, space-between, flex-start);
  }

  &--title {
    width: 10rem;
    height: 10rem;
    color: $menu-title-text-color;
    font-weight: 700;
    font-size: 3.5rem;
    background-color: $game-title-bg-color;
    border-radius: $border-radius;
    @include flex(column, center, center);
  }

  &--tips {
    height: 5rem;
    color: $menu-btn-text-color;
    font-weight: 700;
    font-size: 1.6rem;
    @include flex(column, center, flex-start);
  }

  &--stats {
    display: flex;
    &--cell {
      position: relative;
      width: 8rem;
      height: 8rem;
      margin: 0 1rem 1rem 0;
      padding-top: 0.5rem;
      color: $menu-title-text-color;
      font-weight: 700;
      font-size: 2.3rem;
      background-color: $game-bg-color;
      border-radius: $border-radius;
      @include flex(column, center, center);

      &::before {
        position: absolute;
        top: 1rem;
        color: #f1e4da;
        font-size: 1.3rem;
        content: 'SCORE';
      }

      &:nth-child(2n) {
        margin-right: 0;

        &::before {
          position: absolute;
          top: 1rem;
          color: #f1e4da;
          font-size: 1.3rem;
          content: 'BEST';
        }
      }
    }
  }

  &--btns {
    display: flex;
    &--btn {
      width: 8rem;
      height: 3.5rem;
      margin-right: 1rem;
      color: $game-text-color;
      font-weight: 700;
      font-size: 1.3rem;
      text-align: center;
      background-color: $game-btn-bg-color;
      border: 0;
      border-radius: $border-radius;
      outline: 0;
      cursor: pointer;
      transition: all 0.25s;
      transition-property: background-color, color;
      @include flex(column, center, center);

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:hover {
        color: $menu-btn-hover-text-color;
        background-color: $game-title-bg-color;
      }

      &:focus {
        border: 2px solid $menu-btn-text-color;
      }
    }
  }
}

.game__board--wrapper {
  width: 30rem;
  height: 30rem;
  padding: 0.6rem;
  background-color: $game-bg-color;
  border-radius: $border-radius;
}

.game__board--inner {
  position: relative;
  flex-wrap: wrap;
  width: 28.8rem;
  height: 28.8rem;
  font-weight: 700;
  font-size: 3.5rem;
  background-color: $game-bg-color;
  border-radius: $border-radius;
  @include flex(row, center, center);
}

.game__cell--wrapper {
  width: 7.2rem;
  height: 7.2rem;
  @include flex(column, center, center);
}
.game__cell--inner {
  width: 6rem;
  height: 6rem;
  color: $game-cell-text-color;
  background-color: $game-cell-bg-color;
  border-radius: $border-radius;
  @include flex(column, center, center);
}

.value-2 {
  background-color: #f1e4da;
}
