.game__header {
  width: 30rem;
  height: 15rem;
  @include flex(row, space-between, flex-start);

  &--left-column {
    width: 50%;
  }

  &--right-column {
    flex-wrap: wrap;
    width: 17rem;
    @include flex(row, space-between, flex-start);
  }

  &--title {
    width: 10rem;
    height: 10rem;
    color: $menu-title-text-color;
    font-weight: 700;
    font-size: 3.5rem;
    border-radius: $border-radius;
    @include flex(column, center, center);
  }

  &--1024 {
    background-color: #c1eb89;
  }

  &--2048 {
    background-color: $game-title-bg-color;
  }

  &--4096 {
    background-color: #89a3eb;
  }

  &--tips {
    height: 5rem;
    color: $menu-btn-text-color;
    font-weight: 700;
    font-size: 1.6rem;
    @include flex(column, center, flex-start);
  }

  &--stats {
    position: relative;
    display: flex;
    @keyframes fade-top {
      from {
        transform: translateY(0px);
        opacity: 1;
      }
      to {
        transform: translateY(-5rem);
        opacity: 0;
      }
    }

    &--shift-score {
      position: absolute;
      top: 3rem;
      left: 3rem;
      z-index: 10;
      color: #796e65;
      font-weight: 700;
      font-size: 2rem;
      animation: fade-top;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
    }
    &--cell {
      position: relative;
      width: 8rem;
      height: 8rem;
      margin: 0 1rem 1rem 0;
      padding-top: 0.5rem;
      color: $menu-title-text-color;
      font-weight: 700;
      font-size: 2.3rem;
      background-color: $game-bg-color;
      border-radius: $border-radius;
      @include flex(column, center, center);

      &::before {
        position: absolute;
        top: 1rem;
        color: #f1e4da;
        font-size: 1.3rem;
        content: 'SCORE';
      }

      &:last-child {
        margin-right: 0;

        &::before {
          position: absolute;
          top: 1rem;
          color: #f1e4da;
          font-size: 1.3rem;
          content: 'BEST';
        }
      }
    }
  }

  &--btns {
    display: flex;
    &--btn {
      width: 8rem;
      height: 3.5rem;
      margin-right: 1rem;
      color: $game-text-color;
      font-weight: 700;
      font-size: 1.3rem;
      text-align: center;
      background-color: $game-btn-bg-color;
      border: 0;
      border-radius: $border-radius;
      outline: 0;
      cursor: pointer;
      transition: all 0.25s;
      transition-property: background-color, color;
      @include flex(column, center, center);

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:hover {
        color: $menu-btn-hover-text-color;
        background-color: $game-title-bg-color;
      }

      &:focus {
        border: 2px solid $menu-btn-text-color;
      }
    }
  }
}

.game__board--wrapper {
  position: relative;
  width: 30rem;
  height: 30rem;
  padding: 2%;
  background-color: $game-bg-color;
  border-radius: $border-radius;
}

.game__board--inner {
  position: relative;
  flex-wrap: wrap;
  width: 28.8rem;
  height: 28.8rem;
  font-weight: 700;
  font-size: 3.5rem;
  background-color: $game-bg-color;
  border-radius: $border-radius;
  @include flex(row, center, center);
}

.game__board--9 {
  .game__cell--wrapper {
    width: 9.6rem;
    height: 9.6rem;
  }
  .game__cell--inner {
    width: 8.4rem;
    height: 8.4rem;
  }
}

.game__board--16 {
  .game__cell--wrapper {
    width: 7.2rem;
    height: 7.2rem;
  }
  .game__cell--inner {
    width: 6rem;
    height: 6rem;
  }
}

.game__board--25 {
  .game__cell--wrapper {
    width: 5.75rem;
    height: 5.75rem;
  }
  .game__cell--inner {
    width: 4.55rem;
    height: 4.55rem;
    font-size: 2rem;
  }
}

.game__cell--wrapper {
  // width: 7.2rem;
  // height: 7.2rem;
  transition: all 0.15s;
  transition-property: top, left;
  @include flex(column, center, center);
}
.game__cell--inner {
  // width: 6rem;
  // height: 6rem;
  color: $game-cell-text-color;
  background-color: $game-cell-bg-color;
  border-radius: $border-radius;
  @include flex(column, center, center);
}

@keyframes appear {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}

.game__modal {
  position: absolute;
  z-index: 10;
  width: 96%;
  height: 96%;
  background-color: rgba(191, 172, 160, 0.85);
  @include flex(column, center, center);
  &--title {
    margin-bottom: 3rem;
    color: #584d44;
    font-weight: 700;
    font-size: 4rem;
  }
  &--btn {
    width: 8rem;
    width: 12rem;
    height: 4rem;
    color: $game-text-color;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    background-color: $game-btn-bg-color;
    border: 0;
    border-radius: $border-radius;
    outline: 0;
    cursor: pointer;
    opacity: 1 !important;
    transition: all 0.25s;
    transition-property: background-color, color;
    @include flex(column, center, center);
  }
}

.value-2 {
  background-color: #eee4da;
}

.value-4 {
  background-color: #eee1c9;
}

.value-8 {
  color: #f9f6f2;
  background-color: #f3b27a;
}

.value-16 {
  background-color: #f69664;
}

.value-32 {
  color: #f9f6f2;
  background-color: #f77c5f;
}

.value-64 {
  color: #f9f6f2;
  background-color: #f75f3b;
}

.value-128 {
  color: #f9f6f2;
  background-color: #edd073;
}

.value-256 {
  color: #f9f6f2;
  background-color: #edcc62;
}

.value-512 {
  color: #f9f6f2;
  background-color: #edc950;
}

.value-1024 {
  color: #f9f6f2;
  background-color: #c1eb89;
}

.value-2048 {
  color: #f9f6f2;
  background-color: $game-title-bg-color;
}

.value-4096 {
  color: #f9f6f2;
  background-color: #89a3eb;
}
