*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  font-size: 10px;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  @media (min-width: 375px) {
    font-size: 12px;
  }
  @media (max-height: 600px) {
    font-size: 10px;
  }
  @media (max-height: 500px) {
    overflow: auto;
    font-size: 8px;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: $root-bg-color;
  @include flex(column, center, center);
  @media (max-height: 500px) {
    height: auto;
    padding: 1rem;
  }
}
.dark-theme {
  filter: invert(1) brightness(1) hue-rotate(215deg);
}
