*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  font-size: 10px;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  @media (min-width: 375px) {
    font-size: 12px;
  }
  @media (max-height: 600px) {
    font-size: 10px;
  }
  @media (max-height: 500px) {
    overflow: auto;
    font-size: 8px;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: $root-bg-color;
  @include flex(column, center, center);
  @media (max-height: 500px) {
    height: auto;
    padding: 1rem;
  }
}

.dark-theme {
  #root {
    background-color: #322d1e;
  }
  .menu {
    background-color: #936243;
  }
  // .menu__button {
  //   color: #c1b6ac;
  //   background-color: #744220;
  // }
  .full-screen-btn {
    filter: brightness(1.5);
  }
  .menu__title {
    background-color: #744220;
  }
  .menu__settings {
    color: #c1b6ac;
    background-color: #744220;
  }
  .menu__settings--line {
    color: #c1b6ac;
  }
  .menu__tutorial {
    color: #c1b6ac;
    background-color: #744220;
    & span {
      color: #c1b6ac;
    }
  }
  .menu__leaderboard {
    color: #c1b6ac;
    background-color: #744220;
  }
  .menu__leaderboard--score {
    color: #c1b6ac;
  }
  .game__board--wrapper {
    background-color: #936243;
  }
  .game__board--inner {
    background-color: #936243;
  }
  .game__cell--inner {
    background-color: #a7764c;
  }
  .game__header--stats--cell {
    background-color: #936243;
  }
  .game__header--tips {
    color: #c1b6ac;
  }
  .game__header--stats--shift-score {
    color: #c1b6ac;
  }
}
